*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{

/* Color styles */

--dark: #000000;
--light-dark: #141922;
--dark-grey: #282828;
--transparent-dark-grey: #28282870;
--grey: #C1C1C1;
--highlight: #ADFF2F;
--spotify-green: #23CF5F;
}

/* generic rules */

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

hr{
    margin: 10px 0px 10px 0px;
}

/* base structure  */

.wrapper{
    width:100%;
    height:100vh;
}

#call-to-action{
    position:fixed;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: var(--transparent-dark-grey);
    width:100%;
    height: 80px;
    top:0;
    right:0;
    z-index: 8;
}

main{
    display:flex;
    background-color: var(--light-dark);
    width:100%;
    height: calc(100% - 90px);
    overflow:hidden;
}

.main-nav{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 230px;
    min-height: 480px;
    background-color: var(--dark);
    z-index: 9;
}

.main-content{
    width: calc(100% - 230px);
    height: 100%;
    overflow-y:auto;
    margin-top: 100px;
}

.playbar{
    position:fixed;
    bottom:0;
    width:100%;
    height: 90px;
    background-color: var(--dark-grey);
    z-index: 10;
}


/* basic site elements */

.container{
    padding:15px;
}

.row{
    display:flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}

.card{
    padding:15px;
    width: calc(100% / 6);
}

.card img{
    width:100%;
}

/* utility */

.c-flex{
    display:flex;
    flex-direction: column;
}

.d-flex{
    display:flex;
    flex-direction: row;
}

.j-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.gap-10{
    gap:10px;
}

.gap-20{
    gap:20px;
}

.uppercase{
    text-transform: uppercase;
}

/* links' classes */

.link{
    display:flex;
    align-items: center;
    gap: 10px;
}

.link img{
    width:10%;
}

/* main nav */

.playlist{
    font-weight: 600;
}

.plus-square{
    background-color:var(--grey);
    width:30px;
    height:30px;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    line-height: 30px;
}

.plus-square i{
    color:var(--dark);
}
nav.main-nav div.container:last-child{
    position:relative;
    bottom:0;
}

#profile-pic{
    vertical-align: middle;
    background-color: var(--grey);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* call to action styles */

#call-to-action div{
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    font-weight: 600;
}